---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'ITIK.xyz | Trusted Blockchains Validator',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=69f69bc36a8a0bd941af5f2d&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
     
    ]}
  
  >
     <Fragment slot="title">

      <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/8f406cee-b6c1-4247-a1d0-81984b9bd8cc/cBvZfZXi8w.lottie" speed="1" style="width: 100%; height: 100px" mode="forward" loop autoplay></dotlottie-wc>

      Let's<span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white"> Exchange</span> 
    </Fragment>
     <Fragment slot="subtitle">
     <span class="hidden sm:inline"></span>
      <span class="text-accent dark:text-white"> Buy, Sell, Swap Crypto: Fast, Secure, Trusted Since 2017</span> 
   
      </Fragment>

    <Fragment slot="subtitle">
       <CallToAction
    actions={[
      {
        text: 'primary',
        text: 'BUY.Tangem',
        href: 'https://tangem.com/en/pricing/?promocode=EW8JGT&utm_source=tangem-rp&utm_medium=affiliate&utm_campaign=EW8JGT',
        target: '_blank',
        icon: 'tabler:shopping-bag',
      },
      {
        text: 'primary',
        text: '$10.Off',
        href: 'https://tangem.com/en/pricing/?promocode=EW8JGT&utm_source=tangem-rp&utm_medium=affiliate&utm_campaign=EW8JGT',
        target: '_blank',
        icon: 'tabler:rosette-discount',
      },
      {
        text: 'primary',
        text: 'Bridge',
        href: '/home/bridge',
        target: '',
        icon: 'tabler:building-bridge',
      },
      {
        text: 'primary',
        text: 'Staking',
        href: '/home/staking',
        target: '',
        icon: 'tabler:external-link',
      },
    ]}
  >
    <Fragment slot="title">
      <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/d7debe35-623c-43f8-a986-e0c1e4233d55/8AcgS6Xip8.lottie" speed="0.2" style="width: 100%; height: 70px" mode="forward" loop autoplay></dotlottie-wc>

      <iframe id='iframe-widget' src='https://changenow.io/embeds/exchange-widget/v2/widget.html?FAQ=true&amount=0.1&amountFiat=1500&backgroundColor=040422&darkMode=true&from=btc&fromFiat=eur&horizontal=false&isFiat&lang=en-US&link_id=537f0c2ee20bbe&locales=true&logo=false&primaryColor=00C26F&to=eth&toFiat=eth&toTheMoon=true' style="height: 410px; width: 100%; border: 1"></iframe>
    <script defer type='text/javascript' src='https://changenow.io/embeds/exchange-widget/v2/stepper-connector.js'></script>
    </Fragment>

    <Fragment slot="subtitle">
      Fast crypto exchange The average time for exchange is about 2 minutes. You can track the crypto swap progress on the exchange page.
    </Fragment>
  </CallToAction>
  
      <span class="hidden sm:inline">
        <span class="font-semibold"></span> 
        </span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
      Limitless exchange You can start from less than $2 and swap as much crypto as you want – there is no upper limit.
    </Fragment>
  </Hero>

  <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "c5b0c5da-01fc-4c84-a699-947062347a21"
  });
</script>
</Layout>
