---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'SKELO.xyz | Secure Staking With Your Trusted Staking Provider.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6a122ffa45f3a203af4aaa94&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Stake.NOW',
        href: '/startstaking',
        target: '',
        icon: 'tabler:download',
      },
      {
        text: 'primary',
        text: 'EXCHANGE',
        href: '/startstaking',
        target: '',
        icon: 'tabler:link',
      },
      {
        text: 'primary',
        text: 'Wallets',
        href: '/startstaking',
        target: '',
        icon: 'tabler:link',
      },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>
     
✨ Secure  <span class="hidden xl:inline">Non-Custodial</span>
      <span class="text-accent dark:text-white">Staking  </span> Services.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold"> We provide   </span> enterprise-grade, secure,</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">high availability non-custodial staking.</span>
     Driven by passion and resilience, we validate with integrity and optimize staking for a decentralized future.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  
  </CallToAction>
  <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "6b0963ec-c556-40c0-9e56-ef50b6a740a9"
  });
</script>
</Layout>
