---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'SKELO.xyz | Trusted Blockchains Validator',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6a122ffa45f3a203af4aaa94&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
     
    ]}
  
  >
     <Fragment slot="title">

      <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/8f406cee-b6c1-4247-a1d0-81984b9bd8cc/cBvZfZXi8w.lottie" speed="1" style="width: 100%; height: 100px" mode="forward" loop autoplay></dotlottie-wc>

      Multiple <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white"> Networks</span> 
    </Fragment>
     <Fragment slot="subtitle">
     <span class="hidden sm:inline"></span>
      <span class="text-accent dark:text-white"> Ready to earn more rewards with your BTC?
Stake Bitcoin with Skelo</span> 
   
      </Fragment>

    <Fragment slot="subtitle">
       <CallToAction
    actions={[
      {
        text: 'primary',
        text: 'Binance',
        href: 'https://app.stackingdao.com/',
        target: '_blank',
        icon: 'tabler:link',
      },
      {
        text: 'primary',
        text: 'Polygon',
        href: 'https://app.hermetica.fi/portfolio/usdh/rewards',
        target: '_blank',
        icon: 'tabler:link',
      },
      {
        text: 'primary',
        text: 'Avalanche',
        href: 'https://velar.com/',
        target: '',
        icon: 'tabler:link',
      },
      {
        text: 'primary',
        text: 'Staking',
        href: '/home/staking',
        target: '',
        icon: 'tabler:external-link',
      },
    ]}
  >
    <Fragment slot="title">
      
<script src="https://cdn.lordicon.com/lordicon.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/gfpplxaf.json"
    trigger="hover"
    colors="primary:#ffffff,secondary:#3080e8,tertiary:#a866ee,quaternary:#e8e230,quinary:#7166ee"
    style="width:100%;height:430px">
</lord-icon>
    </Fragment>

    <Fragment slot="subtitle">
      The main benefit of Bitcoin staking is that it increases Bitcoin's utility, allowing your Bitcoin assets to play an active role in securing various PoS ecosystems while generating extra rewards.
    </Fragment>
  </CallToAction>
  
      <span class="hidden sm:inline">
        <span class="font-semibold"></span> 
        </span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
      Since Bitcoin operates on a PoW mechanism rather than PoS, innovative mechanisms, similar to Ethereum's Eigenlayer restaking, enable Bitcoin to participate indirectly in the security of other chains.
    </Fragment>
  </Hero>

  <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "6b0963ec-c556-40c0-9e56-ef50b6a740a9"
  });
</script>
</Layout>
