---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/3b4fa915-6ab3-4a25-91ff-728676aabc98/jRfNT3CgNt.lottie" speed="0.5" style="width: 70px; height: 70px" mode="forward" loop autoplay></dotlottie-wc>
</span>
