---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/c05f5c7f-d299-4d85-b176-68c12295801b/eANBYvtfhR.lottie" speed="0.5" style="width: 80px; height: 80px" mode="forward" loop autoplay></dotlottie-wc>
</span>
